.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
  body {
    background-image: url('login_image1.jpg');
    background-size: cover; /* Adjusts the image to cover the whole page */
}
